<h1>Submit a Concentration Calculation</h1>
<p class="lead">Computes concentrations for each compound ID given a generated master xlsx file</p>


<form ng-submit="submitProcessingTask()" novalidate>
<!--<form action="/" method="POST" name="processorForm" enctype="multipart/form-data" novalidate>-->
    <input type='hidden' name='csrfmiddlewaretoken' value='0DTJ9nKX0qQkTPhjcBr9d8IpNwOcfGP6' />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="xlsx_file">Master XLSX File for Processing</label>
                <input type="file"
                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                       id="xlsx_file"
                       name="xlsx_file"
                       class="form-control"
                       ng-file-select="onFileSelect($files)"
                       ng-required="true"
                       required />
            </div>

            <p class="lead" style="margin-top: 2em;" ng-show="compounds.length">Compounds:</p>

            <div class="row" ng-show="compounds.length">
                <div class="col-sm-6">
                    <label>M Values</label>
                    <p class="help-block">List of <code>M+0</code> values corresponding to the parent ions/fragments of interest, separated by commas - leave blank if you wish to omit the compound from analysis</p>
                </div>
                <div class="col-sm-3">
                    <label>Correction Factor</label>
                    <p class="help-block">Correction factor to apply to matrix MID calculations (default is the isotopic probability of <sup>13</sup>C)</p>
                </div>
                <div class="col-sm-3">
                    <label>Mass Distribution Range</label>
                    <p class="help-block">Range of values <code>n</code> to analyze, from <code>M+0</code> to <code>M+n</code> (default <code>n=0</code>)</p>
                </div>
            </div>

            <tabset>
                <tab ng-repeat="(title, compound) in data" heading="{{title}}">
                    <form class="form-inline" role="form">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>M+0 Concentration</th>
                                    <th ng-repeat="a in range(maxLength) track by $index">M+{{$index}}</th>
                                    <th>Total Concentration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(id, row) in compound">
                                    <td>
                                        <label>{{id}}: </label>
                                        <input class="form-control input-sm input-xs" type="text" ng-model="row.concentration" />
                                    </td>
                                    <td ng-repeat="x in row.mid track by $index">
                                        {{(row.concentration * x / row.mid[0]) | number:3}}
                                    </td>
                                    <td>{{(row.concentration / row.mid[0]) | number:3}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </tab>
            </tabset>
        </div>
    </div>
    
    <div class="row" ng-show="compounds.length">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>