<div ng-if="job.status === 'invalid'">
	<h1>Task does not exist!</h1>
	<p class="lead">Reference ID is invalid</p>
</div>

<div ng-if="job.status === 'queued'">
	<h1><span class="spinner"><i class="fa fa-spinner fa-spin"></i> Queued</h1>
	<p class="lead">Waiting for next open processing slot...</p>

	<p>This page will refresh automatically every few seconds</p>
</div>

<div ng-if="job.status === 'running'">
	<h1><span class="spinner"><i class="fa fa-cog fa-spin"></i> Running</h1>
	<p class="lead">Server is currently processing your job</p>

	<p>This page will refresh automatically every few seconds</p><br />

	<p>Log:</p>
	<div class="highlight"><pre>{{job.log}}</pre></div>
</div>

<div ng-if="job.status === 'success'">
	<h1>Success!</h1>
	<p class="lead">Thank you for your submission!</p>

	<div><pre>{{job.log}}</pre></div>

	<div ng-if="auto_download">
		Your file will download momentarily.  If the download does not start, please <a href="{{download_url}}">click here</a>.
	</div>
	<div ng-if="!auto_download">Results are avaliable for download <a href="{{download_url}}">here</a>.</div>
</div>