<h1>Submit a New Processing Task</h1>
<p class="lead">Requires a CSV file of peak lists to analyze</p>


<form ng-submit="submitProcessingTask()" novalidate>
<!--<form action="/" method="POST" name="processorForm" enctype="multipart/form-data" novalidate>-->
    <input type='hidden' name='csrfmiddlewaretoken' value='0DTJ9nKX0qQkTPhjcBr9d8IpNwOcfGP6' />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="csv_file">CSV File for Processing</label>
                <input type="file"
                       accept=".csv"
                       id="csv_file"
                       name="csv_file"
                       accept="text/csv"
                       class="form-control"
                       ng-file-select="onFileSelect($files)"
                       ng-required="true"
                       required />
                <!--
                <div class="col-lg-6 col-sm-6 col-12">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" id="csv_file" multiple="multiple" name="csv_file" />
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly />
                </div>-->
            </div>

            <p class="lead" style="margin-top: 2em;" ng-show="compounds.length">Compounds:</p>

            <div class="row" ng-show="compounds.length">
                <div class="col-sm-6">
                    <label>M Values</label>
                    <p class="help-block">List of <code>M+0</code> values corresponding to the parent ions/fragments of interest, separated by commas - leave blank if you wish to omit the compound from analysis</p>
                </div>
                <div class="col-sm-3">
                    <label>Correction Factor</label>
                    <p class="help-block">Correction factor to apply to matrix MID calculations (default is the isotopic probability of <sup>13</sup>C)</p>
                </div>
                <div class="col-sm-3">
                    <label>Mass Distribution Range</label>
                    <p class="help-block">Range of values <code>N</code> to analyze, from <code>M+0</code> to <code>M+N</code> (default <code>N = 5</code>)</p>
                </div>
            </div>

            <div ng-repeat="compound in compounds">
                <h4>{{compound.name | titlecase}}</h4>

                <ng-form name="compoundForm">
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error' : compoundForm.mass.$invalid}">
                            <input type="text"
                                   name="mass"
                                   class="form-control"
                                   ng-model="compound.mass"
                                   ng-pattern="/^(\d+(\s*,\s*\d+)*)?$/" />
                            <p class="help-block" ng-show="compoundForm.mass.$invalid">Mass list must be a comma-separated list of integer masses (e.g. <code>232,260</code>)</p>
                        </div>

                        <div class="col-sm-3 form-group" ng-class="{'has-error' : compoundForm.correction.$invalid}">
                            <input name="correction"
                                   class="form-control"
                                   placeholder="0.0107"
                                   ng-model="compound.correction"
                                   ng-pattern="/^(0(\.\d+)?|1(\.0+)?)$/" />
                            <p class="help-block" ng-show="compoundForm.correction.$invalid">Must be a decimal value between 0 and 1</p>
                        </div>

                        <div class="col-sm-3 form-group" ng-class="{'has-error' : compoundForm.range.$invalid}">
                            <input type="number"
                                   name="range"
                                   class="form-control"
                                   placeholder="5"
                                   ng-model="compound.range"
                                   ng-pattern="/^\d+$/" />
                            <p class="help-block" ng-show="compoundForm.range.$invalid">Must be an positive, integer value</p>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
    
    <div class="row" ng-show="compounds.length">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>